include ./../jade_inc/mixing.jade
	</div>
</div>
// #content
footer#colophon.site-footer(role='contentinfo')
	.container
		.row
			.col-md-3
			.col-md-6
			.col-md-3
				.site-info
					a(href='/') © 2017  Site_name.ru
				// .site-info
// #colophon
// #page
</div>
+php('wp_footer();')
