- var v_scripts = ['/plugins/html5shiv.min.js', '/plugins/respond.min.js']
- var v_css = ['./css/plugins_compiled_pack.css', './css/style_compiled.css']
- var nav_menu = "wp_nav_menu( array( 'theme_location' => 'menu-1', 'menu_id' => 'primary-menu' ) );"